body {
  background-color: #F7EDDB;
  margin: 0;
  padding: 0;
}
.navbar {
  padding: 0;
}
.navbar-brand {
  padding: 1% 0 0 2%;
}
.logo-text {
  font-family: 'Sacramento', cursive;
  font-size: 38px;
  line-height: 0.5;
}
.mb-1 {
  padding-bottom: 12%;
}
.container-fluid {
  padding: 0;
}
#home {
  background-image: url(../images/teabackground.png);
  padding: 15% 0;
  position: relative;
}
.row {
  margin: 0;
}
#tea-carousel {
  margin-top: -61.4%;
  padding-left: 4.6%;
  width: 95.5%;
  opacity: 80%;
}
.frame {
  position: relative;
  width: 100%;
  z-index: 999;
}
.title-1 {
  color: #483838;
  font-family: 'Pacifico', cursive;
  font-size: 5vw;
  margin: 8% 0 0 0;
  text-align: center;
}
.title-2 {
  color: #42855B;
  font-family: 'Concert One', cursive;
  font-size: 8.6vw;
  margin: 0;
  text-align: center;
}
.title-3 {
  color: #483838;
  font-size: 20px;
  line-height: 1.8;
  margin: 0 6%;
}
.divider {
  position: absolute;
  top: 92%;
  width: 100%;
  z-index: 999;
}
.our-favorites {
  background-color: #DAE2B6;
  padding-bottom: 5%;
  position: relative;
}
.favorite-teas {
  color: #483838;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  padding: 5% 19%;
}
.flavors-container {
  margin-left: 4%;
  padding-bottom: 1%;
}
#flavors-1 {
  margin: 0;
  padding: 0;
}
#flavors-2 {
  margin: 0;
  padding: 0;
}
#flavors-3 {
  margin: 0;
  padding: 0;
}
#flavors-4 {
  margin: 0;
  padding: 0;
}
.flavors-img {
  padding: 2% 5% 2% 0;
  width: 48%;
}
.flavors-text {
  margin: 0;
  padding: 0 10% 0 0;
  text-align: center;
}
h3 {
  font-size: 26px;
}
.teapot {
  position: absolute;
  right: 0%;
  top: 26%;
  width: 34%;
}
.divider-2 {
  position: absolute;
  top: 93.4%;
  width: 100%;
  z-index: 999;
}
.features {
  padding: 5% 2% 8%;
  position: relative;
}
.features-title {
  color: #483838;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  padding-bottom: 5%;
  text-align: center;
}
.features-left {
  display: inline-block;
}
.features-right {
  display: inline-block;
  margin-left: 51%;
  margin-right: 0;
  padding: 0;
  text-align: right;
}
.features-text {
  display: inline-block;
}
.features-text-2 {
  display: inline-block;
  text-align: right;
}
.teacup {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 31%;
  width: 48%;
}
i {
  color: #42855B;
}
.divider-3 {
  position: absolute;
  left: 0;
  top: 89%;
  width: 100%;
  z-index: 999;
}
.bonus {
  background-color: #DAE2B6;
  padding: 5% 2%;
  position: relative;
}
.bonus-title {
  color: #483838;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  padding-bottom: 5%;
  text-align: center;
}
.matcha-kit {
  padding: 3%;
  width: 100%;
}
.gift-title {
  color: #42855B;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  padding: 3%;
  text-align: center;
}
.gift-text {
  color: #483838;
  font-size: 20px;
  line-height: 1.8;
  margin: 0 3%;
}
.subscribe-button {
  padding: 5% 0;
  text-align: center;
}
.btn {
  background-color: #42855B;
  border: none;
  color: #F7EDDB;
  font-family: 'Concert One', cursive;
  font-size: 30px;
  padding: 1% 4%;
}
.btn:hover {
  --bs-btn-hover-bg: #90B77D;
}
.divider-4 {
  position: absolute;
  left: 0;
  top: 92%;
  width: 100%;
  z-index: 999;
}
.box-title {
  color: #483838;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  padding: 5%;
  text-align: center;
}
.inside-box {
  padding: 0;
  position: relative;
}
.flower-decoration {
  margin: 0 2.5%;
  width: 18%;
}
.the-box {
  margin: 0 4.5% 3% 4.5%;
  width: 43%;
}
.products-title {
  color: #42855B;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  padding: 3%;
  text-align: center;
}
.about-box {
  color: #483838;
  font-size: 20px;
  line-height: 1.8;
  padding: 0 14% 3%;
}
#products-carousel {
  padding-bottom: 8%;
}
.carousel-buttons {
  padding-bottom: 8%;
}
.carousel-item-2 {
  padding: 0 0 0 14%;
}
.product-img {
  display: inline-block;
  width: 40%;
}
.products-text {
  margin-bottom: 0;
  padding-left: 5%;
  display: inline-block;
  font-size: 2.8vw;
  vertical-align: middle;
  width: 45%;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2342855B' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2342855B' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 20px;
}
.divider-5 {
  position: absolute;
  left: 0;
  top: 95%;
  width: 100%;
  z-index: 999;
}
.testimonials {
  background-color: #DAE2B6;
  position: relative;
}
.testimonials-title {
  color: #483838;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  padding: 5%;
  text-align: center;
}
.stars {
  padding-bottom: 3%;
  text-align: center;
}
.testimonials-text {
  padding: 0 10%;
  text-align: center;
}
.testimonials-names {
  color: #42855B;
  font-size: 20px;
  padding: 3%;
  text-align: center;
}
.divider-6 {
  position: absolute;
  left: 0;
  top: 86%;
  width: 100%;
  z-index: 999;
}
.pricing {
  padding: 2% 1% 5%;
  position: relative;
}
.pricing-title {
  color: #483838;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  padding: 5%;
  text-align: center;
}
.prices-col {
  padding: 0 1%;
  margin: 0;
}
.price-card {
  background-color: #DFE8CC;
  border-radius: 25px;
  display: inline-block;
  margin: 5% 0;
  width: 100%;
}
.subscribe-time {
  color: #42855B;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  text-align: center;
}
.price-card-body {
  text-align: center;
}
.card-title {
  color: #483838;
}
.card-text {
  color: #483838;
  text-align: left;
  padding: 0;
}
.btn-spacing-1 {
  margin-top: 18%;
}
.btn-spacing-2 {
  margin-top: 9%;
}
.divider-7 {
  position: absolute;
  left: 0;
  top: 90.4%;
  width: 100%;
  z-index: 999;
}
.faq {
  background-color: #DAE2B6;
  padding: 3% 0 5% 15%;
  position: relative;
}
.faq-title {
  color: #483838;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  margin: 5% 5% 5% -12%;;
  text-align: center;
}
.faq-button {
  border-radius: 40px;
  width: 80%;
  margin: 0;
  --bs-btn-bg: #90B77D;
  --bs-btn-border-color: #90B77D;
  --bs-btn-hover-bg: #90B77D;
  --bs-btn-hover-border-color: #90B77D;
  --bs-btn-active-bg: #90B77D;
  --bs-btn-active-border-color: #90B77D;
  --bs-btn-disabled-bg: #90B77D;
  --bs-btn-disabled-border-color: #90B77D;
  text-align: left;
  font-size: 2.5vw;
  }
.i-faq {
  color: #F7EDDB;
  float: right;
  margin-top: 1%;
}
a[aria-expanded=true] .fa-plus {
  display: none;
  transform: rotate(180deg);
 }
a[aria-expanded=false] .fa-minus {
  display: none;
  transform: rotate(180deg);
 }
.faq-card {
  border: none;
  --bs-card-bg: none;
  margin: 0;
  padding: 0 2% 2%;
  width:80%;
}
.divider-8 {
  position: absolute;
  left: 0;
  top: 91.4%;
  width: 100%;
  z-index: 999;
}
.contact {
  padding: 5% 0;
}
.icons {
  text-align: center;
}
.contact-icon {
  margin: 0 2%;
}
.contact-logo {
  color: #483838;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  text-align: center;
  padding-top: 3%;
}
.disclaimer {
  color: #483838;
  text-align: center;
}
@media screen and (max-width: 600px) {
    #home {
      padding: 20% 0 15% 0;
    }
    .divider {
      position: absolute;
      top: 97.4%;
    }
    .our-favorites {
      padding-bottom: 130%;
      padding-left:4%;
    }
    .favorite-teas {
      padding: 4%;
    }
    .teapot {
      position:absolute;
      right: 0;
      top: 77%;
      width: 100%;
     }
     .divider-2 {
       position: absolute;
       left: -0.6%;
       top: 99%;
     }
     .features {
       padding: 5% 2% 160%;
     }
     .features-left {
       position: absolute;
       top: 15%;
       left: 5%;
     }
     .teacup {
       padding-bottom: 8%;
       position: absolute;
       left: 3%;
       top: 70%;
       width: 90%;
     }
     .features-right {
       position: absolute;
       margin: 0;
       right: 5%;
       top: 21.8%;
     }
     .divider-3 {
       position: absolute;
       top: 97.4%;
     }
     .btn {
       padding-bottom: 6%;
     }
     .divider-4 {
       position: absolute;
       top: 98.4%;
     }
     .box-title {
       font-size: 42px;
     }
     .flower-decoration {
       margin: 0 2.2%;
       width: 18%;
     }
     .divider-5 {
       position: absolute;
       top: 98%;
     }
     .testimonials-title {
       font-size: 44px;
     }
     .testimonials-text {
       padding: 0 10%;
       text-align: center;
     }
    .divider-6 {
       position: absolute;
       top: 95%;
     }
     .subscribing-time {
       font-size: 28px;
     }
     .btn-spacing-1 {
       margin-top: 22%;
     }
     .divider-7 {
       position: absolute;
       top: 98.4%;
     }
     .faq-button {
       padding-top: 5%;
     }
     .i-faq {
       margin-top: 2%;
     }
     .divider-8 {
       position: absolute;
       top: 95.6%;
     }
}
.music-player {
  border: none;
  background-color: #90B77D;
}
.replay {
  -webkit-text-stroke: 1px #42855B;
}
.controls {
  background-color: #90B77D
}
